{% extends 'base.html' %}

{% block title %}
Scrumptious Recipes
{% endblock %}

{% block content %}
<header>
    <nav>
        <a href="{% url "recipe_list" %}">Main Page</a>
    </nav>
</header>
<main>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
</main>
<footer>Made with love by Scrumptious Recipes</footer>
{% endblock %}
