* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #777777;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 0px;
    color: #666666;
    background-color: #333333;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #222222;
}

.rating {
    color: #444444;
}

.recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    justify-items: center;
}

tbody.ingredients-table > tr:nth-child(even) {
    background-color: #292929;
}

a:link {
    text-decoration: none;
    color: #AAAAAA;
}

a:visited {
    text-decoration: none;
    color: #AAAAAA;
}

a:hover {
    text-decoration: underline overline green;
    color: #AAAAAA;
}

a:active {
    text-decoration: underline overline wavy red;
    color: #AAAAAA;
}

nav > a:link {
    text-decoration: none;
    color: #FFFFFF;
}

nav > a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

nav > a:hover {
    text-decoration: underline overline green;
    color: #FFFFFF;
}

nav > a:active {
    text-decoration: underline overline wavy red;
    color: #FFFFFF;
}

h1 {
    margin: 24px 0px;
}

h2 {
    margin: 16px 0px;
}

h3 {
    margin: 8px 0px;
}

ol {
    margin-left: 40px;
}
